.left-fixsed{
    position:fixed;
    left: 0;
    top: 0;
    padding-top: 120px;
}
.nav-fixsed{
    width: 100%;
    position: fixed;
    top: 0;
    padding-left: 21.563rem;
    padding-right: 30px;
}
.nav-hed-fixsed{
    position: fixed;
    left: 0;
    top: 0;
}
.con-top{
    margin-top: 7.5rem;
    background-color: #fbfbfb;
}
.inp{
    height: 56px;
}